
@model AnimePageViewModel
<!doctype html>
<html>
	<head>
		<base href="/" />
		<title>Home Page</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
	</head>
	<body>
		<h1>@Model.SearchedAnime.TitleName</h1>
		<video controls="controls" autoplay="autoplay" height="300" width="400">
			<source  src="animes\KomiSan\episods\episod1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
		</video>
		
	</body>
</html>


