@using AnimeHouse.Models;
@model IEnumerable<Comment>
				@foreach (var comment in Model)
				{
					<div class="author-comment">
						<figure >
							<img src="~/img/DefaultUserImg.png">
						</figure>
						<h5>@comment.UserName</h5>
						<p>@comment.Text</p>
					</div><br/>
				}
