<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/StyleSheet.css">
	</head>
	
	<body background="/img/background_main.png">
		 <header>
			<nav>
		 
				<ul class="nav_bar">
				  <li  class="nav-bar-element"><a class="active" asp-action="Main" asp-controller="Home">Home</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li  class="nav-bar-element"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li  class="nav-bar-element"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li  class="nav-bar-element"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
					<li  class="nav-bar-element">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input type="submit" value="Выход" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				</ul>
			</nav>
		</header>
		<h1>Данные успешно добавлены/изменены</h1>
		<h2><a asp-action="Main" asp-controller="Home">Перейти на главную страницу</a></h2>
		<h2><a asp-action="GetListAnime" asp-controller="Anime">Перейти к списку аниме</a></h2>

		
	</body>
</html>