<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
	</head>
	
	<body background="/img/background_main.png">
		 
		<h1>Данные успешно добавлены/изменены</h1>
		<h2><a asp-action="Main" asp-controller="Home">Перейти на главную страницу</a></h2>
		<h2><a asp-action="GetListAnime" asp-controller="Anime">Перейти к списку аниме</a></h2>

		
	</body>
</html>