@using AnimeHouse.Models
@model IEnumerable<Anime> 
@if (Model != null)
{
	int pos = 0;
	@foreach(var anime in Model) {
		<div class="anime-container" id="@pos">
				<div class="anime-list-item">
					<div class="anime-list-item-img">
						<img src="@(@anime.Path + anime.ImgName)" id="img-anime" alt="Cant found img">
					</div>
					<div class="anime-list-item-info">
						<a asp-action="AnimePage" asp-controller="Anime" asp-route-title="@anime.TitleName" asp-route-episod=1>@anime.TitleName</a>
						<div class="short-desc">
							<p>Count episodes</p>
							<p>Short desc</p>
						</div>
					</div>
				</div>
		</div>
		pos++;

	}
}
else
{
	<h2>We can find nothing</h2>
}