<!doctype html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Home Page</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/Carusuel.css" />
		<link rel="stylesheet" href="/css//Maincss.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
		<header>
		<input  type="checkbox" id="burger"/>
		<label for="burger">&#8801</label>
		<nav>
				
			<ul class="nav_bar">
				<li class="nav-bar-element page-controllers"><a asp-action="Main" asp-controller="Home">Home</a></li>
				<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
					<li  class="nav-bar-element page-controllers">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input type="submit" value="Выход" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>

			</ul>
		</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
		<main style="align-content:center;">
			<div class="slideshow-containter">
				<div class="slide fade">
					<img width="200px" height="300px" src="~/img/graviti falls.jpg"/>
				</div>
				<div class="slide fade">

					<img width="200px" height="300px" src="~/img/demon_slayer.jpg"/>
				</div>
				<div class="slide fade">
					<img width="200px" height="300px" src="~/img/One_piece.jfif"/>
				</div>
				<div class="dot-container">
					<span class="dot" onclick="thisSlide(1)"></span>
					<span class="dot" onclick="thisSlide(2)"></span>
					<span class="dot" onclick="thisSlide(3)"></span>

				</div>	
			</div>
			
			<section id="greetings">
				<h1>Welcome to the AnimeHouse.</h1>
				<p>
					This is a platform for watching any animated series and for communicating this topic
				</p>
			</section>

		<div class="advantages-info">
			<div class="item1">
				<img class="icon-advantages"  src="~/img/free-icon-4k-2363782.png"/>
				<p>High quality video 1080p, 2K, 4K</p>
			</div>
			<div class="item2">
				<img class="icon-advantages"  src="/img/free-icon-best-choice-5163495.png" />
				<p>The best among the likes!</p>
			</div>
			<div class="item3">
				<img  class="icon-advantages"  src="~/img/free-icon-free-5542799.png"/>
				<p>Everything is absolutely free</p>
			</div>
			<div class="item4">
				<img class="icon-advantages"   src="~/img/free-icon-microphone-1298571.png"/>
				<p>A large selection of high-quality voice acting</p>
			</div>
			<div class="item5">
				<img class="icon-advantages"  src="~/img/free-icon-server-1621427.png"/>
				<p>Powerful servers that support the work of a large number of users</p>
			</div>
			<div class="item6">
				<img class="icon-advantages"  src="~/img/free-icon-setting-8223078.png"/>
				<p> Fast and high-quality technical support</p>
			</div>
			<div class="item7">
				<img class="icon-advantages"  src="/img/free-icon-speed-2825474.png"/>
				<p>The appearance of new products in a short time</p>
			</div>

		</div>
		</main>
		
		
		<script src="~/js/Carusuel.js"></script>
	
	<footer>
		<div class="contact">
			<h1>Contact</h1>
			<form action="#">
				<div class="contact-form">
					<div class="data-block elem1">
						<input name="name" id="name" type="text" placeholder="Name"/>
					</div>
					<div class="data-block elem2">
						<input name="surname" id="surname" type="text" placeholder="Surname" />
					</div>
					<div class="data-block elem3">
						<input name="email" id="email" type="email" placeholder="Email" />
					</div>
					<div class="data-block elem4">
						<input name="tel" id="tel" type="tel" placeholder="Phone number" />
					</div>
					<div class="data-block elem5">
						<input name="user-comment" id="user-comment" type="text" placeholder="Your message" />
					</div>
				</div>
				<div class="data-block">
					<input class="form-button" type="submit" value="Send" />

				</div>
			</form>
		</div>
		<div class="footer-info">
			<div id="about-us">
				<h1>About Us</h1>
				A web application for watching animated series anywhere and anytime
			</div>
			<div class="media-links">
				<h1>Media Links</h1>
				<div class="social">
					<a class="icons instagram" href="#">
						<i class="fab fa-instagram"></i>
					</a>
					<a class="icons youtube" href="#">
						<i class="fab fa-youtube"></i>
					</a>
					<a class="icons git" href="#">
						<i class="fab fa-github"></i>
					</a>
					<a class="icons telegram" href="#">
						<i class="fab fa-telegram"></i>
					</a>
					<a class="icons odnoklassniki" href="#">
						<i class="fab fa-odnoklassniki"></i>
					</a>
					<a class="icons vk" href="#">
						<i class="fab fa-vk"></i>
					</a>
				</div>
			</div>
			<div class="quick-links">
				<h1>Quick Links</h1>
				<p>About</p>
				<p>FAQ</p>
				<p>Privacy Policy</p>
				<p>Help</p>
				<p>Terms & Conditions</p>
			</div>
			<div class="contact-us">
				<h1>Contact Us</h1>
				<p>Address: One Microsoft Way in Redmond, Washington.</p>
				<p>Telephone: +79151937591</p>
				<p>Email: vlad.vlasov77@mail.ru</p>
			</div>
		</div>
		
		<p style="margin-top: 20px;">Copyright © 2022 SinForge. All Right Reserved</p>
	</footer>

	</body>

</html>