<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
	</head>
	<style>
			body
			{
			  background-image: url("/img/background_main.png");
			  background-repeat: no-repeat;
			  background-size: cover;
			}
		 </style>
	<body background="/img/background_main.png">
		 
		<ul>
		  <li><a class="active" asp-action="Main" asp-controller="Home">Home</a></li>
		@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
		{
			<li><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
			<li><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
		}
		<li><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
		@if(User.Identity.IsAuthenticated) {
			<li><a>@User.Identity.Name</a></li>
		
			<li>
				<form method="post" asp-controller="Account" asp-action="Logout">
					<input type="submit" value="Выход" />
				</form>
			</li>
		}
		else {
			<li><a asp-controller="Account" asp-action="Login">Вход</a></li>
			<li><a asp-controller="Account" asp-action="Registration">Регистрация</a></li>
		}
		</ul>

		
	</body>
</html>