@model UserRegistrationViewModel
<!doctype html>
<html>
	<head>
		<title>Home Page</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h2>Регистрация</h2>
		@using (Html.BeginForm(FormMethod.Post))
		{
		<div asp-validation-summary="All">
			<div>
					<label asp-for="Email">Email</label><br />
					<input type="email" asp-for="Email" />
					<span asp-validation-for="Email" />
			</div>
			<div>

					<label asp-for="Nickname">Nickname</label><br />
					<input type="text" asp-for="Nickname" />
					<span asp-validation-for="Nickname" />
			</div>
			<div>

					<label asp-for="Password">Password</label><br />
					<input type="password" asp-for="Password" />
					<span asp-validation-for="Password" />
			</div>
			<div>

					<label asp-for="PasswordConfirm">Password</label><br />
					<input type="password" asp-for="PasswordConfirm" />
					<span asp-validation-for="PasswordConfirm" />
			</div>
			<input type="submit" value="Send">
		</div>
		}
		<script src="~/js/jquery-3.5.1.min.js"></script>
		<script src="~/js/jquery.validate.min.js"></script>
		<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

	</body>
</html>