@model AddAnimeTitleViewModel;
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/css/StyleSheet.css">
		<link rel="stylesheet" href="/css/Carusuel.css" />
		<link rel="stylesheet" href="/css/Maincss.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/style.css" rel="stylesheet">
	</head>
	<body>
	<header>
		<input  type="checkbox" id="burger"/>
		<label for="burger">&#8801</label>
		<nav>
				
			<ul class="nav_bar">
				<li class="nav-bar-element page-controllers"><a  asp-action="Main" asp-controller="Home">Home</a></li>
				<li class="nav-bar-element page-controllers"><a asp-action="DevelopersPage" asp-controller="Home">DevPage</a></li>
				@if (User.IsInRole("admin") || @User.IsInRole("moderator"))
				{
					<li  class="nav-bar-element page-controllers"><a asp-action="UserList" asp-controller="Admin">User's List</a></li>
					<li   class="nav-bar-element page-controllers"><a asp-action="CreateTitle" asp-controller="Admin" >Create Title</a></li>
				}
				<li   class="nav-bar-element page-controllers"><a asp-action="GetListAnime" asp-controller="Anime">Anime</a></li>
				@if(User.Identity.IsAuthenticated) {
					<li  class="nav-bar-element page-controllers"><a asp-action="Services" asp-controller="Profile">@User.Identity.Name</a></li>
		
					<li  class="nav-bar-element page-controllers">
						<form method="post" asp-controller="Account" asp-action="Logout">
							<input type="submit" value="Выход" />
						</form>
					</li>
				}
				else {
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Login">Login</a></li>
					<li  class="nav-bar-element page-controllers"><a asp-controller="Account" asp-action="Registration">Registration</a></li>
				}
				<li   class="nav-bar-element page-controllers" id="notice"><label for="notice_box"><img src="/img/bell.png" width="30px" height="30px"></label></li>

			</ul>
		</nav>
	</header>
	<input style="display: none" type="checkbox" id="notice_box" />
	<div class="open-notice">
		<div class="notice-info">Don't forget to upgrade your premium subscription</div>
		<div class="notice-info">Add 2FA to save your account</div>
		<div class="notice-info">Leave comments and add favorites animes</div>
	</div>
	
	<main class="form-container">
		<div class="forms">
			<h2>Title creating</h2>
			<form method="post" asp-controller="Admin" asp-action="CreateTitle" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly"> </div>
				<div>
					<label asp-for="Title"></label><br/>
					<input type="text" asp-for="Title"/>
					<span asp-validation-for="Title"/>
				</div>
				<div>

					<label asp-for="ShortDescription"></label><br/>
					<input type="text" asp-for="ShortDescription"/>
					<span asp-validation-for="ShortDescription"/>
				</div>
				<div>

					<label asp-for="Description"></label><br/>
					<input type="text" asp-for="Description"/>
					<span asp-validation-for="Description"/>
				</div>
				<div>

					<label asp-for="CountEpisodes"></label><br/>
					<input type="number" asp-for="CountEpisodes"/>
					<span asp-validation-for="CountEpisodes"/>
				</div>
				<div>

					<label asp-for="Img"></label><br/>
					<input type="file" asp-for="Img"/>
					<span asp-validation-for="Img"/>
				</div>
				<div>
					<label asp-for="Categories"></label>
					<select asp-for="Categories">
						@foreach (var category in (List<string>)ViewData["CategoriesList"])
						{
							<option value="@category">@category</option>
						}
					</select>
					<span asp-validation-for="Categories"></span>
				</div>

				<input type="submit" value="Send">
			</form>
		</div>
		
		<script src="~/js/jquery-3.5.1.min.js"></script>
		<script src="~/js/jquery.validate.min.js"></script>
		<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
	</main>
	
	</body>
</html>