
.slideshow-container {
    position: relative;
    width: fit-content;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dot-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide {
    width: fit-content; 


}

.dot {
    cursor:pointer;
    height: 13px;
    width : 13px;
    margin: 0 2px;
    background-color: purple;
    border-radius: 50%;
    transition:  0.6s ease;

}

.active, dot:hover {
    background-color: darkblue;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}


