.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #240090;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    justify-items: center;
    align-content: center;
    align-items: center;
}
*{
    font-family: 'Times New Roman', Times, serif;
}


.nav-bar-element a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
.nav-bar-element {
    text-align: center;
    color: white;
}
.nav-bar-element input {
        display: block;
        background-color: #E0B863;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.nav-bar-element a:hover:not(.active) {
        background-color: rgb(12,0,50);
 }

.active {
    background-color: #282828;
}
nav {
    margin-bottom: auto
}
#greetings {
    margin-left: 100px;
    margin-top: 70px;
}


.reg_log {
    text-align: center;
    background-color: bisque;
}
.center_form {
    padding: 50px 100px 50px 100px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border-radius: 30px 40px;
}
.text-field {
    margin-bottom: 1rem;
}


.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: medium;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-button {
    appearance: none;
    padding: 10px 20px 10px 20px;
    border: 0;
    border-radius: 0;
    background: #000000;
    color:white;
    font-size: 30px;


}

.span_erros {
    color: orangered;
}


.anime-list {
    background-color: #0C0032;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-width: 1100px;
    min-width: 350px;
    justify-content: center;
}

.anime-list-item {
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    width: fit-content;

}
.anime-list-item-info {
    text-align:center;
}
    .anime-list-item-info a {
        color: #3500D3;
    }

.anime-list-item-img {
    margin-right: 30px;
}


.anime-list ul {
    background-color: #0C0032;
    list-style-type: none;
}


body {
    background-color: #3500D3;
}
.anime {
    margin: 30px 30px 0px 30px;
    background: #282828;
    color: white;
    display: flex;
}



@media (min-width: 768px) {
    .anime {
        margin: 30px 30px 0px 30px;
        background: #282828;
        color: white;
    }
}
@media (max-width: 768px) {
    .anime {
        flex-direction: column;

    }
    #anime-poster{
        justify-self: center;
        align-self: center;
    }
}


#anime-description {
    font-size: 20px;
    margin-left: 10px;
}

#anime-poster {
    margin-top: 20px;
    margin-left: 20px;
    width: fit-content;
}
#anime-poster img {
    z-index: 100;   
    width: 200px;
    height: 300px;
}


#anime-video-player {

}

.comments-block {
    padding: 40px,40px,40px,40px;
    top: 0;
    left: 0;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;   
    margin: 5px 30px 0px 30px;
    overflow: auto;
}
.comments-block div {
        padding-left: 10px;
       padding-right: 10px;}

.send-comment-block {
    padding-left: 10px;
    padding-right: 10px;
}

.comment-block {

}
figure {
    border-radius: 50px;
    margin:0;
   
}
figure img {
    margin: 0;
    width: 50px;    
    height: 50px;
}

/*-------------------------Navbar position-----------------------------------------*/

#burger, label[for="burger"] {
    display: none;
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
    label[for="burger"] {
        display:block;
        font-size: 30px;
        position: sticky;
        width: fit-content;
    }
    .page-controllers{
        display: none;


    
    }

    .nav_bar {
        flex-direction:column;
    }
    #burger:checked + label + nav  .page-controllers {
        display: block;
    }
    #burger:checked + label{
        transform: rotate(90deg);
    }
}
