.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E0B863;
    top: 0;
    width: 100%;
}

.nav-bar-element {
    float: left;
}

.nav-bar-element a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
.nav-bar-element input {
        display: block;
        background-color: #E0B863;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.nav-bar-element a:hover:not(.active) {
   background-color: grey;
   }

.active {
    background-color: darkorange;
}
nav {
    margin-bottom: auto
}
#greetings {
    margin-left: 100px;
    margin-top: 70px;
}


.reg_log {
    text-align: center;
    background-color: bisque;
}
.center_form {
    padding: 50px 100px 50px 100px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border-radius: 30px 40px;
}
.text-field {
    margin-bottom: 1rem;
}


.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-size: medium;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(1.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-button {
    appearance: none;
    padding: 10px 20px 10px 20px;
    border: 0;
    border-radius: 0;
    background: #000000;
    color:white;
    font-size: 30px;


}

.span_erros {
    color: orangered;
}


.anime-list {
    background: rgb(230,233,230);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.anime-list-item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}
.anime-list-item-info {
    display: flex;
    font-size: 25px;
    flex-direction: column;
}
.anime-list-item-info a {
        color: rgb(211,153,131);
}

.anime-list-item-img {
    margin-right: 30px;
}


.anime-list ul {
    list-style-type: none;
}


body {
    background-color:rgb(246,64,64) ;
}


.anime {
    margin: 30px 30px 0px 30px;
    background: grey;

    column-count: 1;
}



#anime-description {
    width: 70%;
    float:right;
    font-size: 20px;
}

#anime-poster {
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
    float:left;
}
#anime-poster img {
    width: 200px;
    height: 300px;
}
