.video-player-block {
    padding: 40px,40px,40px,40px;
    background-color: #282828;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px 30px 0px 30px;
    justify-content: center;
    overflow: auto;
}

    .video-player-block .player {
        max-width: 850px;
        width: 100%;
    }

        .video-player-block .player .video {
            max-width: 100%;
            border-radius: 30px, 0px;
            width: 700px;
            height: 400px;
        }

    .video-player-block .controlls {
        display: flex;
        padding: 20px, 40px;
        align-content: flex-start;
        margin-top: -5px;
    }

    .video-player-block .video-stop {
        margin-left: 20px;
        margin: 0;
        width: fit-content;
        cursor: pointer;
        display: inline-flex;
    }

    .video-player-block .video-play {
        cursor: pointer;
        display: inline-flex;
        width: fit-content;
        margin: 0;
    }

    .video-player-block .video-progress {
        display: inline-flex;
        position: relative;
    }
    .video-player-block .video-time {
        display: inline-flex;
    }

.video-player-block .controlls #play-pause {
    color: black;
}


/*------------------------------------------------------------------Input range styles--------------------------------------------------------------------------*/


output {
    position: absolute;
    left: -20px;
    top: -40px;
    padding: 7px 10px;
    background: #4cff00;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    font-weight: bold;
}
#fader {
  
    width: 600px;
    height: 10px;
    background: #fff; 
    -webkit-appearance: none;
    outline: none;
    border-radius: 4px;
    margin-bottom: 30px;
}




#fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #240090;
    box-shadow: 0 0 2px #222;
}

