.video-player-block {
    padding: 40px 40px 40px 40px;
    background-color: #282828;
    display: flex;
    align-items: center;
    text-align: center;
    width: 95%;
    margin: 5px 30px 0px 30px;
    justify-content: center;
    overflow: visible;
}
@media (min-width: 250px) and (max-width: 360px) {
    .video-player-block {
        background-color: #282828;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 5px 30px 0px 30px;
        justify-content: center;
        overflow: visible;
    }
}
@media (min-width: 250px) and (max-width: 900px) {
    #controlls {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;
        top: -11rem;
        background-color: transparent;
    }
}
.player {
    width: fit-content;
}

    .video-player-block .player {
        text-align: center;
    }

        .video-player-block .player .video {
            max-width: 100%;
            width: 700px;
            height: 400px;
        }


.video-player-block .controlls #play-pause {
    color: black;
}
@media(min-width: 901px) {
    #controlls {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;
        top: -80px;
        background-color: transparent;
    }
}
.video {
    position: relative;
}
/*------------------------------------------------------------------Input range styles--------------------------------------------------------------------------*/

.volume {
    margin-right: 5px;
}

output {
    position: absolute;
    left: -20px;
    top: -40px;
    padding: 7px 10px;
    background: #4cff00;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    font-weight: bold;
}
#fader {
    align-self: center;
    width: 100%;
    height: 10px;
    background: rgba(114, 100, 100, 0.5); 
    -webkit-appearance: none;
    outline: none;
    transition: 2s;
    border-radius: 4px;

}
span {
    color: white;
    transition: 0.4s;
}




#fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px #222;
}

.video-buttons {
    margin-top: 10px;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.fullscreen-mode {
    margin-left: auto;
    padding-right: 15px;
}
.choose-episod ul {
    margin: 0;
    list-style-type: none;

    text-decoration: none;
    height: 400px;
    width: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
.choose-episod {
    justify-self: flex-start;
}
.choose-episod ul::-webkit-scrollbar {
    width: 20px;

}
.choose-episod ul::-webkit-scrollbar-track {
    background: grey;
    border-radius: 10px;
}
.choose-episod ul::-webkit-scrollbar-thumb {
    background: white;
    height: 50px;
    border-radius: 10px;

}
.choose-episod ul li span {
    color: white;
    width: 100%;
}
.choose-episod ul li span:hover {
    color: black;
    background: white;
}
.volume {
    display: flex;
    flex-direction:row;
}
#volume-mixer {
    transition: 2s;
    background-color: transparent;
}
#volume-mixer::-webkit-slider-thumb {
    color:red;
    border-radius: 10px;
}
#volume-mixer::-webkit-slider-runnable-track {
    align-self: center;
    height: 10px;
    border-radius: 10px;
}
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

.video-progress {
    width: 100%;
}

.video-play {
    padding-left: 5px;
    padding-right: 10px;
}